nav{
    text-align: right;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img{
    float: left;
}

footer{
    clear: both;
    text-align: center;
}

h2{
    color: #2B4970;
    text-align: center;
    border: 5px solid rgba(8, 30, 57, 1);

    cursor: pointer;
}

p{
    color: #000203;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    padding-left: 20px;
    padding-right: 20px;
}

li{
    list-style: none;
    display: inline-block;
}
